.button {
  padding: 1.5rem;
  border: 1px solid var(--first-color);
  background-color: var(--second-color);
  border-radius: var(--main-border-radius);
  cursor: pointer;
}

.button:hover,
.button:focus,
.button:active {
  color: var(--second-color);
  background-color: var(--first-color);
}

.modal-btn {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--first-color);
  transition: none;
}

.modal-btn:hover,
.modal-btn:focus,
.modal-btn:active {
  background-color: var(--first-color);
}
