.form {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  padding: 2rem;
  box-shadow: var(--first-box-shadow);
  border-radius: 62px;
  border: 1px solid var(--third-color);
  background-color: var(--second-color);
}

@media screen and (min-width: 600px) {
  .form {
    max-width: 400px;
  }
}

.center-form {
  margin: auto;
}

@media screen and (min-width: 400px) {
  .form {
    padding: 3rem;
  }
}

.form-group {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.label {
  font-weight: 500;
  font-size: 18px;
}

.form-field {
  font-size: unset;
  max-width: 433px;
  padding: 21px 27px 21px;
  border: none;
  border-radius: 22px;
  border: 1px solid var(--third-color);
  box-shadow: var(--first-box-shadow);
  background-color: var(--second-color);
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.form-field:focus {
  border: 1px solid var(--first-color);
  outline: 1px solid var(--first-color);
}

.error-message {
  color: red;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
